#root {
  width: 100vw;
  height: 100vh;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.special_links {
  position: relative;
  overflow: hidden;
}

.special_links::before {
  content: "";
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out, background-color 0.5s linear;
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0.8;
  background-color: #3d1f00;
}

.special_links:hover::before {
  transform: scaleX(1);
  background-color: #ff962c;
}